{% extends "assistant_app/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}Courses{% endblock %}

{% block content %}
  <div class="container-fluid custom-container">
    <!-- Row for buttons -->
    <div class="row mb-3">
      <!-- Add Course button -->
      <div class="col-md-4 text-start">
        <a href="{% url 'assistant_app:add_course' %}" class="btn btn-secondary">Add Course</a>
      </div>
      <!-- Grades and Assignments buttons -->
      <div class="col-md-4 text-center">
        <a href="{% url 'assistant_app:all_grades' %}" class="btn btn-light custom-outline me-4">View All Grades</a>
        <a href="{% url 'assistant_app:all_assignments' %}" class="btn btn-light custom-outline">View All Assignments</a>
      </div>
      <!-- empty for layout balance -->
      <div class="col-md-4"></div>
    </div>

    <!-- Row for accordion -->
    <div class="row justify-content-start">
      <div class="col-md-12">
        <div class="accordion" id="coursesAccordion">
          {% for course in courses %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                  {{ course.course_name }}
                </button>
              </h2>
              <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#coursesAccordion">
                <div class="accordion-body">
                  Details about {{ course.course_name }}
                  <p>Average Grade: 85%</p>
                  <div class="d-flex gap-2">
                    <a href="{% url 'assistant_app:grades_for_course' course.course_slug %}" class="btn btn-sm btn-info">View Grades</a>
                    <a href="{% url 'assistant_app:assignments_for_course' course.course_slug %}" class="btn btn-sm btn-info">View Assignments</a>
                  </div>
                  <div class="mt-3 d-flex gap-2">
                    <a href="{% url 'assistant_app:edit_course' course.course_slug %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'assistant_app:delete_course' course.course_slug %}" class="btn btn-sm btn-danger">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
